*.img
*.xz
*.iso
*.raw
*.tar.gz
*.box
xbps-cache
xbps-cachedir*
stamps*
!build/dracut/*/*.sh
!build/packer/scripts/*.sh
void-live-*/
distdir-*/
release/
build/packer/cloud-*/
build/packer/vagrant-*/
mklive-build*/
d77-build.log
*.log
*.codex